<form role="form">

  <!-- Name -->
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter Name (Only A-z and '_')" data-ng-model="analyzer.name">
  </div>

  <!-- Description -->
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" placeholder="" data-ng-model="analyzer.description">
  </div>

  <!-- Tokenizer -->
  <div class="form-group">
    <label for="tokenizer">Tokenizer</label>
    <input type="text" class="form-control" id="tokenizer" placeholder="" data-ng-model="analyzer.tokenizer">
  </div>

  <!-- Filters -->

</form>


<!--
"x_description": "String search (danish)",
"x_type": "indexer",
"x_locked": true,
"tokenizer" : "standard",
"filter" : ["lowercase", "stemmer_da_language"]
-->