<nav class="navbar navbar-default navbar-absolute-top">
  <div>
    <div class="row row-nav">
      <div class="col-xs-6 col-md-4"><div class="logo-container"><a href="/"><img src="img/aarhus.png" class="logo"></a></div></div>
      <div class="col-xs-6 col-md-4 text-center"><h1>{{ 'borrow.heading' | translate }}</h1></div>
      <div class="col-xs-6 col-md-4 text-right"><h1 class="text-faded">{{ countdown }}</h1></div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="panel panel-default">
    <table class="table">
      <tr>
        <th></th>
        <th>{{ 'borrow.title' | translate }}</th>
        <th>{{ 'borrow.return_date' | translate }}</th>
        <th class="text-center">{{ 'borrow.status' | translate }}</th>
        <th>{{ 'borrow.information' | translate }}</th>
      </tr>
      <tr data-ng-repeat="material in materials"
          data-ng-class="{'bg-success': material.status === 'borrow.success', 'bg-danger': material.status === 'borrow.error'}">
        <td class="vert-align">{{ $index + 1 }}</td>
        <td class="vert-align">{{ material.title }}</td>
        <td class="vert-align">{{ material.dueDate | date }}</td>
        <td class="vert-align text-center">
          <spinner data-ng-if="material.loading"></spinner>
          <span data-ng-if="material.status === 'borrow.success'" class="glyphicon glyphicon glyphicon-ok"
                aria-hidden="true"></span>
          <span data-ng-if="material.status === 'borrow.error'" class="glyphicon glyphicon glyphicon-remove"
                aria-hidden="true"></span>
        </td>
        <td class="vert-align">{{ material.information | translate }}</td>
      </tr>
    </table>
  </div>

  <div class="buttons-bottom">
    <button type="button" class="btn btn-danger button button-left" aria-label="Left Align" data-ng-click="gotoFront()">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {{ 'common.back' | translate }}
    </button>
    <button type="button" class="btn btn-success button button-left" data-ng-click="showReceiptModal()" data-ng-if="currentPatron && currentPatron.emailAddress" data-ng-disabled="!materials || materials.length === 0">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ 'borrow.button.receipt' | translate }}
    </button>
    <button type="button" class="btn btn-success button button-left" data-ng-click="receipt('printer')" data-ng-if="currentPatron && !currentPatron.emailAddress" data-ng-disabled="!materials || materials.length === 0">
      <span class="glyphicon glyphicon-print" aria-hidden="true"></span> {{ 'borrow.button.receipt' | translate }}
    </button>
  </div>
</div>
