<header headline="borrow.heading" countdown="countdown"></header>

<div class="container">
  <div class="image-help" data-ng-if="!materials || materials.length === 0">
    <img src="img/help2.jpg" />
  </div>

  <div class="panel panel-default" data-ng-if="materials && materials.length > 0">
    <table class="table">
      <tr>
        <th></th>
        <th>{{ 'borrow.title' | translate }}</th>
        <th>{{ 'borrow.return_date' | translate }}</th>
        <th class="text-center">{{ 'borrow.status' | translate }}</th>
        <th>{{ 'borrow.information' | translate }}</th>
      </tr>
      <tr data-ng-repeat="material in materials"
          data-ng-class="{'bg-success': material.status === 'borrow.success', 'bg-danger': material.status === 'borrow.error' || material.invalid, 'bg-warning': material.status === 'borrow.awaiting_afi'}">
        <td class="vert-align">{{ $index + 1 }}</td>
        <td class="vert-align">{{ material.title }}</td>
        <td class="vert-align">{{ material.dueDate | date }}</td>
        <td class="vert-align text-center">
          <spinner data-ng-if="material.loading"></spinner>
          <span data-ng-if="material.status === 'borrow.success'" class="glyphicon glyphicon glyphicon-ok"
                aria-hidden="true"></span>
          <span data-ng-if="material.status === 'borrow.error'" class="glyphicon glyphicon glyphicon-remove"
                aria-hidden="true"></span>
        </td>
        <td class="vert-align">
          <span data-ng-if="material.seriesLength > 0 && material.tags.length === material.seriesLength">{{ material.information | translate }}</span>
          <span data-ng-if="material.seriesLength > 0 && material.tags.length !== material.seriesLength">{{ material.tags.length }} / {{ material.seriesLength }}</span>
          <span data-ng-if="material.invalid">{{ 'borrow.material_invalid' | translate }}</span>
        </td>
      </tr>
    </table>
  </div>

  <div class="buttons-bottom">
    <button type="button" class="btn btn-danger button button-left" aria-label="Left Align" data-ng-click="baseLogoutRedirect()">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {{ 'common.back' | translate }}
    </button>
    <button type="button" class="btn btn-success button button-left" data-ng-click="showReceiptModal()" data-ng-if="currentPatron && currentPatron.emailAddress && materials && materials.length > 0">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ 'borrow.button.receipt' | translate }}
    </button>
    <button type="button" class="btn btn-success button button-left" data-ng-click="receipt('printer')" data-ng-if="(!currentPatron || !currentPatron.emailAddress) && materials && materials.length > 0" >
      <span class="glyphicon glyphicon-print" aria-hidden="true"></span> {{ 'borrow.button.receipt' | translate }}
    </button>
  </div>
</div>
