<div class="numpad-container">
  <div class="numpad-float">
    <div>
      <a type="button" class="btn btn-default numpad-key js-numpad-7" aria-label="Left Align"
         data-ng-click="pressKey(7)">
        {{ 'numpad.seven' | translate }}
      </a>
      <a type="button" class="btn btn-default numpad-key js-numpad-8" aria-label="Left Align"
         data-ng-click="pressKey(8)">
        {{ 'numpad.eight' | translate }}
      </a>
      <a type="button" class="btn btn-default numpad-key js-numpad-9" aria-label="Left Align"
         data-ng-click="pressKey(9)">
        {{ 'numpad.nine' | translate }}
      </a>
    </div>
    <div>
      <a type="button" class="btn btn-default numpad-key js-numpad-4" aria-label="Left Align"
         data-ng-click="pressKey(4)">
        {{ 'numpad.four' | translate }}
      </a>
      <a type="button" class="btn btn-default numpad-key js-numpad-5" aria-label="Left Align"
         data-ng-click="pressKey(5)">
        {{ 'numpad.five' | translate }}
      </a>
      <a type="button" class="btn btn-default numpad-key js-numpad-6" aria-label="Left Align"
         data-ng-click="pressKey(6)">
        {{ 'numpad.six' | translate }}
      </a>
    </div>
    <div>
      <a type="button" class="btn btn-default numpad-key js-numpad-1" aria-label="Left Align"
         data-ng-click="pressKey(1)">
        {{ 'numpad.one' | translate }}
      </a>
      <a type="button" class="btn btn-default numpad-key js-numpad-2" aria-label="Left Align"
         data-ng-click="pressKey(2)">
        {{ 'numpad.two' | translate }}
      </a>
      <a type="button" class="btn btn-default numpad-key js-numpad-3" aria-label="Left Align"
         data-ng-click="pressKey(3)">
        {{ 'numpad.three' | translate }}
      </a>
    </div>
    <div>
      <a type="button" class="btn btn-default numpad-key-zero js-numpad-0" aria-label="Left Align"
         data-ng-click="pressKey(0)">
        {{ 'numpad.zero' | translate }}
      </a>
    </div>
  </div>
  <div class="numpad-float">
    <div>
      <a type="button" class="btn btn-default numpad-back js-numpad-back" aria-label="Left Align"
         data-ng-click="pressKey('back')">
        {{ 'numpad.back' | translate }}
      </a>
    </div>
    <div>
      <a type="button" class="btn btn-default numpad-enter js-numpad-enter" aria-label="Left Align"
         data-ng-click="pressKey('enter')">
        {{ 'numpad.enter' | translate }}
      </a>
    </div>
  </div>
</div>