<nav class="navbar navbar-default navbar-absolute-top">
  <div>
    <div class="row row-nav">
      <div class="col-xs-6 col-md-4"><div class="logo-container"><a href="/"><img src="img/aarhus.png" class="logo"></a></div></div>
      <div class="col-xs-6 col-md-4 text-center"><h1>{{ 'login.heading' | translate }}</h1></div>
      <div class="col-xs-6 col-md-4"></div>
    </div>
  </div>
</nav>

<spinner-global data-ng-if="loading"></spinner-global>

<div class="container">
  <div class="alert alert-danger" role="alert" data-ng-if="invalidLoginError">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{ 'login.invalid_login_error' | translate }}
  </div>

  <div data-ng-include="'views/login-' + display + '.html'" class="login-container"></div>

  <div class="buttons-bottom">
    <a type="button" class="btn btn-danger button button-left" aria-label="Left Align" data-ng-click="useManualLogin(false)"
       data-ng-if="display !== 'default'">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {{ 'common.back' | translate }}
    </a>
  </div>
</div>
