<div class="alert alert-danger" role="alert" data-ng-if="passwordValidationError">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  {{ 'login.password_validation_error' | translate }}
</div>

<h3>{{ 'login.password_help' | translate }}</h3>

<div class="input-group input-group-lg numpad-container numpad-input-group">
  <span class="input-group-addon" id="sizing-addon2">{{ 'login.password_short' | translate }}</span>
  <input type="password" class="is-not-disabled form-control" disabled="disabled" placeholder="{{ 'login.password' | translate }}" tabIndex="-1"
         aria-describedby="sizing-addon2" data-ng-model="user.password">
</div>
<keypad field="user.password" enter="passwordEntered()"></keypad>
