<header headline="login.heading" countdown="countdown"></header>

<spinner-global data-ng-if="loading"></spinner-global>

<div class="container">
  <div class="alert alert-danger" role="alert" data-ng-if="invalidLoginError">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    {{ invalidLoginErrorMessage | translate }}
  </div>

  <div data-ng-include="'views/login-' + display + '.html'" class="login-container"></div>

  <div class="buttons-bottom">
    <a type="button" class="btn btn-danger button button-left" aria-label="Left Align" data-ng-click="back()">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {{ 'common.back' | translate }}
    </a>
  </div>
</div>
