<div data-ng-if="!loggedIn">
    <div class="page-header">
        <h1>{{ 'login.heading' | translate }}</h1>
    </div>

    <div data-ng-if="display === 'default'">
        <div>
            <h3>{{ 'login.scan' | translate }}</h3>
        </div>

        <a type="button" class="btn btn-info button" aria-label="Left Align" data-ng-click="useManualLogin()">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> {{ 'login.button.manual_login' | translate }}
        </a>
    </div>

    <div data-ng-if="display === 'username'" style="width: 450px; margin: 0 auto;">
        <div class="alert alert-danger" role="alert" data-ng-if="usernameValidationError">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ 'login.username_validation_error' | translate }}
        </div>

        <h3>{{ 'login.username_help' | translate }}</h3>

        <div class="input-group input-group-lg numpad-container">
            <span class="input-group-addon" id="sizing-addon1">{{ 'login.username_short' | translate }}</span>
            <input type="text" class="form-control" placeholder="{{ 'login.username' | translate }}" aria-describedby="sizing-addon1" data-ng-model="user.username">
        </div>
        <keypad field="user.username" enter="usernameEntered()"></keypad>
    </div>

    <div data-ng-if="display === 'password'" style="width: 450px; margin: 0 auto;">
        <div class="alert alert-danger" role="alert" data-ng-if="passwordValidationError">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ 'login.password_validation_error' | translate }}
        </div>

        <h3>{{ 'login.password_help' | translate }}</h3>

        <div class="input-group input-group-lg numpad-container">
            <span class="input-group-addon" id="sizing-addon2">{{ 'login.password_short' | translate }}</span>
            <input type="text" class="form-control" placeholder="{{ 'login.password' | translate }}" aria-describedby="sizing-addon2" data-ng-model="user.password">
        </div>
        <keypad field="user.password" enter="passwordEntered()"></keypad>
    </div>
</div>

