<nav class="navbar navbar-default navbar-absolute-top">
  <div>
    <div class="row row-nav">
      <div class="col-xs-6 col-md-4"><div class="logo-container"><a href="/"><img src="img/aarhus.png" class="logo"></a></div></div>
      <div class="col-xs-6 col-md-4 text-center"><h1>{{ 'reservations.heading' | translate }}</h1></div>
      <div class="col-xs-6 col-md-4 text-right"><h1 class="text-faded">{{ countdown }}</h1></div>
    </div>
  </div>
</nav>

<spinner-global data-ng-if="loading"></spinner-global>

<div class="container">
  <div class="panel panel-default">
    <table class="table">
      <tr>
        <th></th>
        <th>{{ 'reservations.bibliographic_id' | translate }}</th>
        <th>{{ 'reservations.title' | translate }}</th>
        <th>{{ 'reservations.ready' | translate }}</th>
        <th>{{ 'reservations.interest_date' | translate }}</th>
        <th>{{ 'reservations.reservation_number' | translate }}</th>
        <th>{{ 'reservations.pickup_location' | translate }}</th>
      </tr>
      <tr data-ng-repeat="material in materials" data-ng-class="{'bg-success': material.ready}">
        <td class="vert-align">{{ $index + 1 }}</td>
        <td class="vert-align">{{ material.bibliographicId }}</td>
        <td class="vert-align">{{ material.title }}</td>
        <td class="vert-align td-center">
          <span data-ng-if="material.ready" class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
        <td class="vert-align">{{ material.interestDate | date }}</td>
        <td class="vert-align">{{ material.reservationNumber }}</td>
        <td class="vert-align">{{ material.pickupLocation }}</td>
      </tr>
    </table>
  </div>

  <div class="buttons-bottom">
    <a type="button" class="btn btn-danger button button-left" aria-label="Left Align" data-ng-click="gotoFront()">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {{ 'common.back' | translate }}
    </a>
    <a type="button" class="btn btn-success button button-left" aria-label="Left Align" data-ng-click="receipt('mail')">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ 'status.button.receipt' | translate }}
    </a>
  </div>
</div>
