<header headline="reservations.heading" countdown="countdown"></header>

<spinner-global data-ng-if="loading"></spinner-global>

<div class="container">
  <div class="panel panel-default">
    <table class="table">
      <thead>
        <tr>
          <th>{{ 'reservations.bibliographic_id' | translate }}</th>
          <th>{{ 'reservations.author' | translate }}</th>
          <th>{{ 'reservations.title' | translate }}</th>
          <th>{{ 'reservations.pickup_location' | translate }}</th>
          <th>{{ 'reservations.pickup_number' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="material in materials"
            data-ng-if="$index >= (pager.currentPage - 1) * pager.itemsPerPage && $index < pager.currentPage * pager.itemsPerPage">
          <td class="vert-align">{{ material.id }}</td>
          <td class="vert-align">{{ material.author }}</td>
          <td class="vert-align">{{ material.title }}</td>
          <td class="vert-align">{{ material.pickupLocation }}</td>
          <td class="vert-align">{{ material.pickupId }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ul uib-pagination
      data-ng-if="materials.length > pager.itemsPerPage"
      class="align-right"
      boundary-link-numbers="true"
      max-size="3"
      previous-text="<"
      next-text=">"
      total-items="materials.length"
      items-per-page="pager.itemsPerPage"
      ng-model="pager.currentPage">
  </ul>

  <div class="buttons-bottom">
    <button type="button" class="btn btn-danger button align-left" aria-label="Left Align" data-ng-click="baseLogoutRedirect()"
            analytics-on analytics-category="Reservations" analytics-event="Back"
            analytics-label="Button Click">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {{ 'common.back' | translate }}
    </button>
    <button type="button" class="btn btn-success button align-left" data-ng-click="showReceiptModal()" data-ng-if="currentPatron && currentPatron.emailAddress" data-ng-disabled="!materials || materials.length === 0"
            analytics-on analytics-category="Reservations" analytics-event="Receipt - Modal"
            analytics-label="Button Click">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ 'reservations.button.receipt' | translate }}
    </button>
    <button type="button" class="btn btn-success button align-left" data-ng-click="receipt('printer')" data-ng-if="currentPatron && !currentPatron.emailAddress" data-ng-disabled="!materials || materials.length === 0"
            analytics-on analytics-category="Reservations" analytics-event="Receipt - Print (without mail)"
            analytics-label="Button Click">
      <span class="glyphicon glyphicon-print" aria-hidden="true"></span> {{ 'reservations.button.receipt' | translate }}
    </button>
  </div>
</div>
