<div>
    <div class="page-header">
        <h1>{{ 'reservations.heading' | translate }}</h1>
    </div>

    <div class="panel panel-default">
        <table class="table">
            <tr>
                <th></th>
                <th>{{ 'reservations.barcode' | translate }}</th>
                <th>{{ 'reservations.title' | translate }}</th>
                <th>{{ 'reservations.ready' | translate }}</th>
                <th>{{ 'reservations.reservation_number' | translate }}</th>
                <th>{{ 'reservations.information' | translate }}</th>
            </tr>
            <tr data-ng-repeat="material in materials" data-ng-class="{'bg-success': material.ready}">
                <td>{{ $index + 1 }}</td>
                <td>{{ material.barcode }}</td>
                <td>{{ material.title }}</td>
                <td>
                    <span data-ng-if="material.ready" class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
                </td>
                <td>{{ material.reservation_number }}</td>
                <td>{{ material.information }}</td>
            </tr>
        </table>
    </div>
</div>

