<header headline="return.heading" countdown="countdown"></header>

<div class="container">
  <div class="image-help" data-ng-if="!materials || materials.length === 0">
    <img src="img/help3.jpg" />
  </div>

  <div class="row" data-ng-if="materials && materials.length > 0">
    <div class="col-md-6" data-ng-repeat="(key, value) in returnBins">
      <div class="panel panel-default">
        <div class="panel-heading" data-ng-style="{ 'background': (value.background_color ? value.background_color : null), 'color': (value.color ? value.color : null)}"><h4>{{ value.text }}</h4></div>
        <table class="table">
          <tr>
            <th class="return-td-title">{{ 'return.title' | translate }}</th>
            <th class="text-center return-td-status">{{ 'return.status' | translate }}</th>
          </tr>
          <tr data-ng-repeat="material in value.materials"
              data-ng-if="$index >= (pager.currentPage - 1) * pager.itemsPerPage && $index < pager.currentPage * pager.itemsPerPage"
              class="bg-success">
            <td class="vert-align">{{ material.title }}</td>
            <td class="vert-align text-center">
              <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
            </td>
          </tr>
        </table>
      </div>

      <ul uib-pagination
          data-ng-if="value.materials.length > value.pager.itemsPerPage"
          class="align-right"
          direction-links="false"
          boundary-link-numbers="true"
          max-size="3"
          previous-text="<"
          next-text=">"
          total-items="value.materials.length"
          items-per-page="value.pager.itemsPerPage"
          ng-model="value.pager.currentPage">
      </ul>
    </div>
  </div>

  <div class="buttons-bottom">
    <button type="button" class="btn btn-danger button align-left" aria-label="Left Align" data-ng-click="baseLogoutRedirect()">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {{ 'common.back' | translate }}
    </button>
    <button type="button" class="btn btn-success button align-left" data-ng-click="receipt('printer')" data-ng-if="materials && materials.length > 0">
      <span class="glyphicon glyphicon-print" aria-hidden="true"></span> {{ 'return.button.receipt' | translate }}
    </button>
  </div>
</div>
