<nav class="navbar navbar-default navbar-absolute-top">
  <div>
    <div class="row row-nav">
      <div class="col-xs-6 col-md-4"><div class="logo-container"><a href="/"><img src="img/aarhus.png" class="logo"></a></div></div>
      <div class="col-xs-6 col-md-4 text-center"><h1>{{ 'status.heading' | translate }}</h1></div>
      <div class="col-xs-6 col-md-4 text-right"><h1 class="text-faded">{{ countdown }}</h1></div>
    </div>
  </div>
</nav>

<div class="container">
  <spinner-global data-ng-if="loading"></spinner-global>

  <div class="panel panel-default">
    <table class="table">
      <tr>
        <th></th>
        <th>{{ 'status.title' | translate }}</th>
        <th>{{ 'status.return_date' | translate }}</th>
        <th>{{ 'status.fine' | translate }}</th>
        <th>{{ 'status.new_date' | translate }}</th>
        <th>{{ 'status.information' | translate }}</th>
        <th>{{ 'status.actions' | translate }}</th>
      </tr>
      <tr data-ng-repeat="material in materials" data-ng-class="{'bg-success': material.renewed, 'bg-warning': material.overdue}" data-ng-if="$index >= (pager.currentPage - 1) * pager.itemsPerPage && $index < pager.currentPage * pager.itemsPerPage">
        <td class="vert-align">{{ $index + 1 }}</td>
        <td class="vert-align">{{ material.title }}</td>
        <td class="vert-align">{{ material.returnDate | date }}</td>
        <td class="vert-align">{{ material.fineItem.fineAmount | currency: ( currentPatron.currencyType | translate )  }}</td>
        <td class="vert-align">{{ material.newDate | date }}</td>
        <td class="vert-align"><spinner data-ng-if="material.loading"></spinner><div data-ng-if="!material.loading">{{ material.information | translate }}</div></td>
        <td class="vert-align td-right btn-group-xs">
          <a type="button" class="btn btn-info" aria-label="Left Align" data-ng-click="renew(material)">
            <span class="glyphicon glyphicon-refresh"></span> {{ 'status.button.renew' | translate }}
          </a>
        </td>
      </tr>
    </table>
  </div>

  <ul data-ng-if="materials.length > pager.itemsPerPage" class="align-right" uib-pagination total-items="materials.length" items-per-page="pager.itemsPerPage" ng-model="pager.currentPage"></ul>

  <div class="buttons-bottom">
    <button type="button" class="btn btn-danger button align-left" aria-label="Left Align" data-ng-click="baseLogoutRedirect()">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {{ 'common.back' | translate }}
    </button>
    <button type="button" class="btn btn-success button align-left" data-ng-click="showReceiptModal()" data-ng-if="currentPatron && currentPatron.emailAddress" data-ng-disabled="!materials || materials.length === 0">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ 'status.button.receipt' | translate }}
    </button>
    <button type="button" class="btn btn-success button align-left" data-ng-click="receipt('printer')" data-ng-if="currentPatron && !currentPatron.emailAddress" data-ng-disabled="!materials || materials.length === 0">
      <span class="glyphicon glyphicon-print" aria-hidden="true"></span> {{ 'status.button.receipt' | translate }}
    </button>
    <button type="button" class="btn btn-warning button align-left" data-ng-click="showFinesModal()" data-ng-if="currentPatron && currentPatron.feeAmount > 0">
      <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> {{ 'status.button.fines' | translate }}
    </button>

    <button type="button" class="btn btn-info button align-right" aria-label="Left Align" data-ng-click="renewAll()" data-ng-if="currentPatron && materials && materials.length > 0">
      <span class="glyphicon glyphicon-refresh"></span> {{ 'status.button.renew_all' | translate }}
    </button>
  </div>
</div>
