body {
    background-image: radial-gradient(circle at bottom center, #eee, #fff);
}

.logo {
    height: 60px;
}

.logo-container {
    padding: 1em .5em;
}

.button {
    height: 50px;
    min-width: 180px;
    font-size: 18px;
    padding: .65em;
    margin: 1em;
}

.container {
    text-align: center;
}

.language-icon {
    position: relative;
    top: -2px;
}

.language-button {
    height: 40px;
    min-width: 100px;
    font-size: 16px;
    padding: .5em;
    margin: 1em;
}

.container-bottom {
    position: absolute;
    bottom: 50px;
    margin: 0 auto;
    width: 100%;
    left: 0;
}

.navbar {
    background-image: linear-gradient(to bottom, #fff 0, #eee 100%);
}

.page-header-frontpage {
    margin-bottom: 80px;
}

.numpad-key {
    width: 60px;
    height: 60px;
    font-size: 20px;
    padding: .7em;
    margin: 5px;
}

.numpad-container {
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    width: 380px;
}

.numpad-key-zero {
    width: 210px;
    height: 60px;
    font-size: 20px;
    padding: .7em;
    margin: 5px;
}

.numpad-enter {
    width: 120px;
    height: 200px;
    font-size: 20px;
    padding: .7em;
    padding-top: 3.8em;
    margin: 5px;
}

.numpad-backspace {
    width: 120px;
    height: 60px;
    font-size: 20px;
    padding: .7em;
    margin: 5px;
}

.numpad-float {
    float: left;
}

.login-container {
    width: 450px;
    margin: 0 auto;
}

.button-back {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

.text-left {
    text-align: left;
}
