body {
}

.logo {
    height: 60px;
}

.logo-container {
    padding: .5em 0;
}

.button {
    height: 50px;
    width: 200px;
    font-size: 20px;
    padding: .5em;
    margin: 1em;
}

.container {
    text-align: center;
}

.language-icon {
    position: relative;
    top: -2px;
}

.language-button {
    height: 40px;
    width: 120px;
    font-size: 18px;
    padding: .4em;
    margin: 1em;
}