<!-- Header -->
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Add index</h4>
</div>

<!-- Content - edit form -->
<div class="modal-body">
	<span data-ng-include="'views/indexes/form.html'"></span>
</div>

<!-- Footer with action buttons -->
<div class="modal-footer">
	<p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<button type="button" class="btn btn-info" data-ng-click="save()">Create</button>
</div>
