<!-- Header -->
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Export index</h4>
</div>

<!-- Content - edit form -->
<div class="modal-body">
	<form role="form">
		<div class="form-group">
			<label for="json">JSON Mapping</label>
			<textarea rows="10" cols="50" class="form-control" id="json" data-ng-model="json">
			</textarea>
		</div>
	</form>
</div>

<!-- Footer with action buttons -->
<div class="modal-footer">
	<p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
