<form role="form">
  <!-- Index -->
  <fieldset disabled>
    <div class="form-group">
      <label for="index" class="control-label">ID</label>
      <input type="text" class="form-control" id="index" placeholder="Index" data-ng-model="index">
      <span class="help-block">Index id is normally not editable.</span>
    </div>
  </fieldset>

  <!-- Name -->
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter Name" data-ng-model="mapping.name">
  </div>

  <!-- Name -->
  <div class="form-group">
    <label for="name">Tag</label>
    <input type="text" class="form-control" id="tag" placeholder="Enter tag" data-ng-model="mapping.tag">
    <span class="help-block">Tag the index so it can be identified (grouped).</span>
  </div>

  <!-- Dates -->
  <fieldset class="form-border form-horizontal">
    <legend>Dates</legend>
    <div class="form-group" data-ng-repeat="date in mapping.dates track by $index">
      <div class="col-xs-10">
        <input type="text" class="form-control" id="date-{{ $index }}" placeholder="Date field name" data-ng-model="mapping.dates[$index]">
      </div>
      <!-- Remove date  -->
      <div class="col-xs-2 btn-remove-center">
        <button type="button" class="btn btn-danger btn-xs" data-ng-click="removeDate($index)">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove
        </button>
      </div>
    </div>

    <!-- Add one more date -->
    <button type="button" class="btn btn-success btn-xs" data-ng-click="addDate($index)">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add date
    </button>
  </fieldset>

  <!-- Fields -->
  <fieldset class="form-border form-horizontal" data-ng-repeat="field in mapping.fields track by $index">
    <legend>Field ({{ field.field }})</legend>
    <div class="form-group">
      <label class="control-label col-xs-2" for="field-name-{{ $index }}">Name</label>

      <div class="col-xs-10">
        <input type="text" class="form-control" id="field-name-{{ $index }}" placeholder="Field name" data-ng-model="mapping.fields[$index].field">
      </div>
    </div>

    <span data-ng-hide="mapping.fields[$index].geopoint === true">
      <div class="form-group">
        <label class="control-label col-xs-2" for="field-indexable-{{ $index }}">Indexable</label>

        <div class="col-xs-10">
          <label class="radio-inline"><input type="radio" name="field-indexable-{{ $index }}" data-ng-model="mapping.fields[$index].indexable" data-ng-checked="mapping.fields[$index].indexable === true" data-ng-value="true">True</label>
          <label class="radio-inline"><input type="radio" name="field-indexable-{{ $index }}" data-ng-model="mapping.fields[$index].indexable" data-ng-checked="mapping.fields[$index].indexable === false" data-ng-value="false">False</label>
        </div>
      </div>
    </span>

    <div class="form-group">
      <label class="control-label col-xs-2" for="field-type-{{ $index }}">Type</label>

      <div class="col-xs-10">
        <input type="text" class="form-control" id="field-type-{{ $index }}" placeholder="Field type (string)" data-ng-model="mapping.fields[$index].type">
      </div>
    </div>

    <span data-ng-hide="mapping.fields[$index].indexable === false">
      <div class="form-group">
        <label class="control-label col-xs-2" for="field-default_indexer-{{ $index }}">Default indexer</label>

        <div class="col-xs-10">
          <select class="form-control" id="field-default_indexer-{{ $index }}" data-ng-model="mapping.fields[$index].default_indexer">
            <option value="analyzed">Analyzed</option>
            <option value="not_analyzed">Not analyzed</option>
          </select>
        </div>
      </div>

      <span data-ng-hide="mapping.fields[$index].default_indexer === 'not_analyzed'">
        <div class="form-group">
          <label class="control-label col-xs-2" for="field-default_analyzer-{{ $index }}">Default analyzer</label>
          <div class="col-xs-10">
            <select class="form-control" id="field-default_analyzer-{{ $index }}"
                    data-ng-model="mapping.fields[$index].default_analyzer"
                    data-ng-options="item for item in analyzer">
            </select>
          </div>
        </div>
      </span>

      <span data-ng-hide="mapping.fields[$index].sort === false">
        <div class="form-group">
          <label class="control-label col-xs-2" for="field-sort_analyzer-{{ $index }}">Sort analyzer</label>
          <div class="col-xs-10">
            <select class="form-control" id="field-sort_analyzer-{{ $index }}"
                    data-ng-model="mapping.fields[$index].sort_analyzer"
                    data-ng-options="item for item in analyzer">
            </select>
          </div>
        </div>
      </span>

      <div class="form-group">
        <label class="control-label col-xs-2" for="field-sort-{{ $index }}">Sortable</label>

        <div class="col-xs-10">
          <label class="radio-inline"><input type="radio" name="field-sort-{{ $index }}" data-ng-model="mapping.fields[$index].sort" data-ng-checked="mapping.fields[$index].sort == 'true'" data-ng-value="true">True</label>
          <label class="radio-inline"><input type="radio" name="field-sort-{{ $index }}" data-ng-model="mapping.fields[$index].sort" data-ng-checked="mapping.fields[$index].sort == 'false'" data-ng-value="false">False</label>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-xs-2" for="field-raw-{{ $index }}">Raw multi-field</label>

        <div class="col-xs-10">
          <label class="radio-inline"><input type="radio" name="field-raw-{{ $index }}" data-ng-model="mapping.fields[$index].raw" data-ng-checked="mapping.fields[$index].raw === true" data-ng-value="true">True</label>
          <label class="radio-inline"><input type="radio" name="field-raw-{{ $index }}" data-ng-model="mapping.fields[$index].raw" data-ng-checked="mapping.fields[$index].raw === false" data-ng-value="false">False</label>
          &nbsp;&nbsp;<span class="label label-default">Required to use filters/aggregations.</span>
        </div>
      </div>
    </span>

    <div class="form-group">
      <label class="control-label col-xs-2" for="field-geo-point-{{ $index }}">Geographic location</label>

      <div class="col-xs-10">
        <label class="radio-inline"><input type="radio" name="field-geo-point-{{ $index }}" data-ng-model="mapping.fields[$index].geopoint" data-ng-checked="mapping.fields[$index].geopoint === true" data-ng-value="true" data-ng-click="geoPointClicked($index)">True</label>
        <label class="radio-inline"><input type="radio" name="field-geo-point-{{ $index }}" data-ng-model="mapping.fields[$index].geopoint" data-ng-checked="mapping.fields[$index].geopoint === false" data-ng-value="false" data-ng-click="geoPointClicked($index)">False</label>
        &nbsp;&nbsp;<span class="label label-default">Single latitude-longitude point.</span>
      </div>
    </div>

    <!-- Remove field  -->
    <button type="button" class="btn btn-danger btn-xs" data-ng-click="removeField($index)">
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove field
    </button>
  </fieldset>

  <!-- Add one more date -->
  <button type="button" class="btn btn-success btn-xs" data-ng-click="addField()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add field
  </button>
</form>
